* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  font-family: @df-sans;
  max-width: 630px;
  margin: auto;
}

.outmost {
  border-top: 1px solid @df-border-gray;
  border-bottom: 1px solid @df-border-gray;
  padding: 20px 0;
  margin: 20px 0;
}

.title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding-bottom: 5px;
}

.chatter {
  font-size: 16px;
  font-family: @df-serif;
  padding-bottom: 15px;
}

.viewing {
  padding-top: 5px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.animate {
  margin-left: 5px;
}

.animate, .current {
  background: #c6c6c6;
  display: inline-block;
  color: white;
  font-size: 12px;
  padding: 8px 30px 6px 30px;
  cursor: pointer;
  border-radius:3px;

  &:hover {
    background: #EB5E60;
  }

  &.selected {
    text-decoration: underline;
    background: #A52F57;
    cursor: default;
  }
}

.date {
  position: absolute;
  font-style: italic;
  font-family: @df-serif;
  text-align: center;
  background: @df-off-white;
  padding: 5px;
  border: 1px solid @df-light-gray;
  bottom: 0px;
  right: 0px;
  width: 30%;
  font-weight: bold;

  @media @mobile {
    font-size: 13px;
  }
}

.aspect-outer {
  width: 100%;
  position: relative;

  .aspect-inner {
    height: 0;
    padding-bottom: 70%;
    position: relative;

    leaflet-map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.leaflet-container {

  .leaflet-popup-content-wrapper {
    border-radius:3px;
    max-width:240px;
    box-shadow: 0 1px 14px rgba(0,0,0,0.30);
    padding-left:10px;
    padding-right:10px;
    font-family: @df-sans;

    .popuptext {
      text-align: left;
      font-size: 14px;

      .bigheader {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
      }
        .emphasis {
          font-weight: bold;
          font-size: 110%;
        }
        .note {
          margin-top: 8px;
          font-size: 95%;
          font-style: italic;
          color: #6D6D6D;
          padding-left: 5px;
        }

    }
  }
}

.source {
  padding-top: 10px;
}
.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}
