<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />
    <script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">

        <div class="title">Title Goes Here</div>

        <div class="chatter">
          More than <a href="http://inciweb.nwcg.gov/state/49/0/">900,000 acres</a> have burned in Washington wildfires this year, according to the government’s fire-monitoring system. This year’s Okanogan complex is now the largest wildfire in state history.
        </div>
        <div class="chatter">
          See the major fires in North Central Washington grow with a visualization created from fire perimeters as reported by agencies fighting the fires.
        </div>

        <div class="viewing">
          Viewing: 
          <div class="animate selected">OVER TIME</div>
          <div class="current">CURRENT</div>
        </div>

        <div class="date"></div>

        <div class="map-container aspect-outer">
            <div class="aspect-inner" id="map"></div>
        </div>

      <div class="source"><em>Source: USGS</em></div>
      <div class="credit">AUDREY CARLSEN AND GARLAND POTTS / THE SEATTLE TIMES</div>

      </div>
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
