<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />
    <script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>
    <script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">

        <div class="title">Here Be Fire</div>

        <div class="chatter">
          Nearly 500,000 acres are burning in Washington state, some of them within highly populated areas. The fires include the Goode fire, the Wolverine fire, the Okanogan complex fire, the North Star fire and the Chelan complex fire.
        </div>

        <div class="animate">ANIMATE</div>
        <div class="current">CURRENT</div>

        <div class="date"></div>

        <div class="map-container aspect-outer">
            <div class="aspect-inner" id="map"></div>
        </div>

      <div class="source"><em>Source: USGS</em></div>
      <div class="credit">Audrey Carlsen and Garland Potts / The Seattle Times</div>

      </div>
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
