<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="outmost">

        <div class="title">Here Be Fire</div>

        <div class="chatter">
          More than <a href="http://inciweb.nwcg.gov/state/49/0/">900,000 acres</a> have burned in Washington wildfires this year, according to the government’s fire-monitoring system. This year’s Okanogan complex is now the largest wildfire in state history.
        </div>
        <div class="chatter">
          See the major fires in North Central Washington grow with a visualization created from fire perimeters as reported by agencies fighting the fires.
        </div>

        <div class="map-container aspect-outer">
          <div class="aspect-inner">
            <leaflet-map lat="48.213" lng="-119.932" zoom="9">
              <map-options>
                { "scrollWheelZoom":false, "attributionControl": false, "doubleClickZoom": false, "touchZoom": false, "zoomControl":false, "dragging": false }
              </map-options>
              <tile-layer layer="esriTopographic"></tile-layer>
            </leaflet-map>
          </div>
          <div class="date"></div>
        </div>

      <div class="source"><em>Source: USGS</em></div>
      <div class="credit">AUDREY CARLSEN / THE SEATTLE TIMES</div>

      </div>
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
